.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-field {
    margin-bottom: 15px;
}

.email,
.password {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.create-password {
    position: relative;
}

.show-hide {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.submit-btn {
    background-color: #f60808;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    display: flex;
    align-items: center;
    color: #ff0000;
    font-size: 12px;
}

.error-icon {
    margin-right: 5px;
}